[submodule "playground/vben"]
	path = playground/vben
	url = https://github.com/vbenjs/vue-vben-admin.git
	branch = main
	shallow = true

[submodule "playground-vuetify/vuetify"]
	path = playground-vuetify/vuetify
	url = https://github.com/vuetifyjs/vuetify.git
	branch = master
	shallow = true

[submodule "playground-shadcn/shadcn-vue"]
	path = playground-shadcn/shadcn-vue
	url = https://github.com/unovue/shadcn-vue.git
	branch = dev
	shallow = true
[submodule "playground-microshop/microcomponents"]
	path = playground-microshop/microcomponents
	url = https://gitlab.com/twoBirds/microcomponents.git
	branch = main
	shallow = true
